* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    font-weight: normal;
}
.shape {
    margin-top: 10px;
  margin-left: 10px;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#circle{
    border-radius: 50%;
}

#dimond{
    rotate: 45deg;
    margin-top: 50px;
}

#square:hover{
    background-color: red;
}

#circle:hover{
    background-color: green;
}

#dimond:hover{
    background-color: blue;
}

#dimond h1{
    rotate: -45deg;
}